/* Reset Rules  */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* END Reset Rules  */

/* FONT WHITNEY  */
@font-face {
    font-family: 'Whitney bold ';
    src: url('../font/whitneybold.otf');

}
@font-face {
    font-family:'Whitney bold ';
    src: url('../font/whitneymedium.otf');
}

body{
    font-family: 'Whitney', sans-serif;
    line-height: 1.4em;
}
/* END FONT WHITNEY  */


/* Flex common general rules */

.flex {

display: flex;

}

.centered {

justify-content: center;
align-items: center;
flex-wrap: nowrap;

}

/* END Flex common general rules */

/* BONUS (ho cambiato direttamente il colore del svg)  */

.wave {
    
    width: 100%;
    height: 100px;
    
    background-image: url('../img/wave2.png');

}

.reverse {
    transform: rotate(180deg);
}

/* END BONUS  */

/* NAV & HEADER BACKGROUND IMAGE  */

.background {

    background-image: url('../img/jumbo.png');
    background-size: cover;
}

/* NAV & HEADER BACKGROUND IMAGE  */

/* NAV Style */

nav {
    justify-content: center;

}

nav .container {
    justify-content: space-between;

    width: 60%;

    padding: 20px;
    margin: 15px;
}

nav .container .logo   {
    justify-content: flex-start;
    align-items: center;

    padding-left: 2px;
}

nav .container .menu   {
    justify-content: center;
    align-items: center;

    gap: 15px;

    flex-grow: 1;

}

nav .container .menu li {

    list-style: none;
    color: #FCFCFE;
}

nav .container .login   {
    justify-content: flex-end;
    align-items: center;

}

nav .container .login button {
    background-color: #FCFCFE;
    color: #2D3133;
    padding: 8px 16px;
    border-radius: 18px;
    border: none;
}

/* END NAV Style */


/* HEADER */

header .container:first-child {
    width: 50%;
    
    padding-top: 50px;
    padding-bottom: 50px;
}

header h1 {
    color: #FDFDFD;

    margin-bottom: 50px;
    text-align: center;
}

header p {
    color: #FDFDFD;
    text-align: center;

    padding-bottom: 30px;
}

header .container:first-child .container {

    text-align: center;
    margin-bottom: 30px;
}

header .container div button:first-of-type {

    padding: 8px 20px;
    border: black 1px solid;
    border-radius: 10px;
    border-color: #FDFDFD;

    background-color: #FDFDFD;

}

header .container div button:first-of-type a{
    color: #2D3133;
    text-decoration: none;
    
}

header .container div button:last-child {

    padding: 8px 12px;
    border: black 1px solid;
    border-radius: 10px;
    background-color: #222629;
    text-decoration: none;
}

header .container div button:last-child a{
    color: #FDFDFD;
    text-decoration: none;
}

/* END HEADER */

/* MAIN  */

/* N. 1th, 2th and 3th SECTION */

main .first .container, main .third .container {

    max-width: 70%;

    margin-top: 55px;
    margin-bottom: 55px;
}


main .second {

    background-color: #F3F3F3;
}

main .second .container {

    max-width: 70%;

    margin-top: 55px;
    margin-bottom: 55px;
}

.item-image {

    width: 100%;
    height: auto;
}

main .second .container .explanation {

    
    flex-grow: 1;

}

main .second .container .explanation h2, main .first .container .explanation h2, main .third .container .explanation h2  {
    
    margin-bottom: 20px;
}


/* END 1th, 2th and 3th SECTION */


/* 4th SECTION */

main .forth {

    background-color: #F3F3F3;
}

main .forth .container {
    width: 60%;

    margin-top: 55px;
    margin-bottom: 55px;

}

main .forth .container h2 {

text-align: center;

padding-bottom: 30px;

font-size: 30px;
color: #222629;

}

main .forth .container p {
    
    text-align: center;

    padding-bottom: 30px;

    color: #222629;
    
}

main .forth .container img {
    display: block;
    
    width: 700px; 
    height: auto;

    margin-left: auto;
    margin-right: auto;

}

main .forth .container div {
    text-align: center;
    

    padding-bottom: 15px;

    color: #222629;
}



main .forth .container button {

    display: block;
    margin: 0 auto;

    padding: 10px 20px;
    border: black 1px solid;
    border-radius: 10px;

    border-color: #7888BF;

    background-color: #7888BF;

}

main .forth .container button a {
    color: #FDFDFD;
    text-decoration: none;
}

/* END 4th SECTION */

/* MAIN  */

/* Footer */

/* TOP FOOTER */
footer {

    background-color: #23272A;

}
footer .top-footer > .container {

    border-bottom: #738ADB 2px solid;
}

footer .top-footer .container {
    justify-content: space-between;
    flex-wrap: nowrap;

    width: 60%;

    padding-top: 55px;
    padding-bottom: 20px;

}

footer .top-footer .container .social {
    width: 200px;
}

footer .top-footer .container .social div {
    padding-bottom: 10px;

    font-size: 20px;

    color: #738ADB;
}

footer .top-footer .container .social img {
    width: 20px;
    height: auto;
    align-self: center;
}

footer .top-footer .container .social span {
    color: white;
    font-size: 10px;
    line-height: center;
}

footer .top-footer .container .list {
    flex-grow: 1;
}

footer .top-footer .container .list .blue-text {
    
    font-size: 14px;

    padding-left: 10px;

    color: #738ADB;
}

footer .top-footer .container .list ul li {
    list-style: none;
    padding-left: 10px;

} 

footer .top-footer .container .list ul li a {

    font-size: 12px;

    line-height: 1.5em;

    text-decoration: none;
    
    color: white;
} 


/* END TOP FOOTER */

/* BOTTOM FOOTER */

footer .bottom-footer {
    justify-content: center;
    align-items: flex-end;
    
    padding-top: 24px;
}

footer .bottom-footer .container  {
    justify-content: space-between;
    align-items: flex-start;

    width: 60%;

    /* TEST HEIGHT  */
    height: 80px;

}

footer .bottom-footer .logo-footer div {
    padding: 5px 2px;
    text-align: center;

}


footer .bottom-footer .button-footer div {
    padding: 5px 2px;
    text-align: center;

} 

footer .bottom-footer .container .btn-footer {


    background-color: #4E597B;

    
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
}

footer .bottom-footer .container .btn-footer a {

    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 0.8em;

}
